# Ignore everything in root (to ignore binary for Linux / Mac)
*
# Unignore directories
!/**/
# Unignore files with extensions
!*.*
# Unignore Dockerfile
!Dockerfile
# Ignore Windows build
/*.exe
# Ignore config
/config.json
# Ignore code coverage files
*.out