html,
body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
	color: #fff;
	background-color: #222;
}

.container {
	width: 1280px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1.5rem;
	padding-top: 0.5rem;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td,
th {
	text-align: left;
	border: 1px solid white;
	padding: 8px;
}

th {
	padding: 8px;
}

h1 {
	margin-bottom: 1rem;
}